* {
    font-family: "Roboto", sans-serif;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    
    flex-direction: column;
    align-items: center;
}

ul {
    list-style-type: none;
}
a   {
    text-decoration: none;
    color: #fff;
}

.nav-container {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
}
.nav{
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 75px;
    width: 65%;

}

.nav-list {
    display: flex;
    gap:20px
}

.logo {
    color: #fff;
    margin-right: auto;
}

.hero-container {
    width: 100%;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    
}

.hero{
    background-color: #1F2937;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 600px;
    width: 65%;
    gap: 50px;
}

.hero-image {
    background-color: #fff;
    height: 300px;
    flex-basis: 600px;
    max-width: 600px;
    
}
.hero-content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    flex-basis: 700px;
    gap: 20px;
    margin-right: auto;
}

.hero-content h2 {
    font-size: 48px;
    color: #F9FAF8;
    font-weight: 900;
}

.hero-content p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-content button {
    width:125px;
    flex: 0 0 35px;
    border: none;
    border-radius: 5px;
    background-color: #3882F6;
    font-size: 16px;
    font-weight: 900;
    color: #E5E7EB;
}

.hero-content button:hover {
    width:125px;
    flex: 0 0 35px;
    border: none;
    border-radius: 25px;
    background-color: #5894f5;
    font-size: 16px;
    font-weight: 900;
    color: #E5E7EB;
    transition: 0.4s;
    cursor: pointer;
}



.info-container {
    width: 100%;
    display: flex;
    justify-content: center;
    
    
}

.info{
    
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 600px;
    width: 75%;
    gap: 50px;
}

.info h2 {
    font-size: 36px;
    font-weight: 900;
    color: #1F2937;
    margin-top: 50px;
    flex: 1 0 50px
}

.cards-container {
    width: 75%;
    flex: 1 0 550px;
    max-width: 1200px;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.card {
    height: 400px;
    width: 400px;
    display: flex;
    flex-direction: column;
    gap:15px
}

.card-pic {
    height: 200px;
    width: 200px;
    border: 3px solid #3882F6;
    border-radius: 10px;
}

.card-txt {
    height: 200px;
    width: 200px;
    text-align: center;
}

.quote-container {
    width: 100%;
    background-color: #E5E7EB;
    display: flex;
    justify-content: center;
}

.quote{
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-basis: 1200px;
    height: 600px;
    width: 75%;
    gap: 15px;
}

.quote-txt {
    max-width: 1000px;
    font-size: 36px;
    font-style: italic;
    font-weight: 200;
    color: #1F2937;
}
p.quote-txt {
    padding: 100px;
    margin: 0;
}
   

.quote-name {
    max-width: 1000px;
    align-self: flex-end;
    margin-right: 125px;
}

.call-container {
    width: 100%;
    height: 350px;
    background-color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.call {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 1200px;
    height: 150px;
    width: 75%;
    background-color: #3882F6;
    color: #F9FAF8;
    border-radius: 5px;
}
.call-content-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-basis: 1000px;
    height: 100px;
}

.call-txt-container {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start; 
    width: 100%;
    height: 100%;
    
}
.call-header {
    font-size: 22px;
    font-weight: 600;
}

.call-txt {
    font-size: 18px;
    color: #E5E7EB;
}

.call-btn {
    flex-basis: 140px;
    height: 40px;
    background-color: #3882F6;
    border: 2px solid #fff;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
}
.call-btn:hover {
    flex-basis: 140px;
    height: 40px;
    background-color: #5894f5;
    border: 2px solid #fff;
    border-radius: 25px;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    cursor: pointer;
}


.footer {
    width: 100%;
    height: 75px;
    background-color: #1F2937;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
}